<h1>Bem vindo ao site da defesa civil</h1>
<p><br></p>
<h2>O que deseja gerenciar?</h2>
<p><br></p>
<p><br></p>
<h3><%= link_to 'Ocorrencias', '/ocurrences'%></h3>
<p><br></p>
<p><br></p>
<h3><%= link_to 'Estoque', '/stocks'%></h3>
<p><br></p>
<p><br></p>
<h3><%= link_to 'Beneficiarios', '/beneficiaries'%></h3>